@charset "UTF-8";
/* CSS Document */

/*User Story #15: My product landing page should utilize CSS flexbox at least once.*/
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}

/*User Story #13: The navbar should always be at the top of the viewport.*/
#nav-bar {
  top: 0;
}

/*User Story #14: My product landing page should have at least one media query.*/
@media (max-width: 600px) {
    #header img {
        width: 100%;
    }
}


